<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CRUD Operations</title>

        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="container">