<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>CRUD Operations</title>
    </head>

    <body>
        <h1>Updating AUthor Data</h1>

        <form method = "POST" action = "/author/edit">
            <input type = "hidden" name = "authorId" value = "<%=authorInfo[0].authorId%>">

            First Name:
            <input type = "text" name = "fName" value = "<%=authorInfo[0].firstName%>"><br>

            <!-- CONTINUE HERE -->
            Last Name:
            <input type = "text" name = "lName"><br>

            Date of Birth:
            <input type = "date" name = "birthDate"><br>

            Date of Death:
            <input type = "date" name = "deathDate"><br>

            Sex:
            <select name = "sex">
                <option value = "">  </option>
                <option value = "M">Male</option>
                <option value = "F">Female</option>
            </select><br>

            Profession:
            <input type = "text" name = "profession"><br>

            Country:
            <input type = "text" name = "country"><br>

            Portrait (enter URL):
            <input type = "text" name = "portrait"><br>

            Biography:
            <textarea name = "biography" rows = "4" cols = "50"></textarea><br>

            <button>Edit Author</button>
        </form>
    </body>
</html>