
        <%- include('partials/header') %>

    <div class = "list"></div>    
        <h1>Adding a New Author</h1>

        <!-- Post data is for when data need to be stored -->
        <form method = "POST" action = "/author/new">
            First Name:
            <input type = "text" name = "fName"><br>

            Last Name:
            <input type = "text" name = "lName"><br>

            Date of Birth:
            <input type = "date" name = "birthDate"><br>

            Date of Death:
            <input type = "date" name = "deathDate"><br>

            Sex:
            <input type = "radio" name = "sex" value = "M"> Male
            <input type = "radio" name = "sex" value = "F"> Female
            <br>

            Profession:
            <input type = "text" name = "profession"><br>

            Country:
            <input type = "text" name = "country"><br>

            Portrait (enter URL):
            <input type = "text" name = "portrait"><br>

            Biography:
            <textarea name = "biography" rows = "4" cols = "50"></textarea><br>

            <button>Add Author</button>
        </form>

        <br><br>
        <!-- allow users to return to home page -->
        <div class="footer-links">
            <a href="/">Home</a>
        </div>

        <!-- check if 'message' is not undefined (or print 'Author Added!') -->
        <% if (typeof message != "undefined") { %>
            <h3><%=message%></h3>
        <% } %> 
    </div>

        <%- include('partials/footer') %>